{% extends "base.html" %}

{% block app_content %}
    <!-- 修改 ip 弹窗 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="editModalLabel">修改 ip 信息</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                <div class="form-group">
                    <label for="message-text" class="control-label">ip:</label>
                    <input type="text" class="form-control" id="editIp">
                </div>
                <div class="form-group">
                    <label for="message-text" class="control-label">hostnam:</label>
                    <input type="text" class="form-control" id="editHostname">
                </div>
                <div class="form-group">
                    <label for="message-text" class="control-label">设备类型:</label>
                    <input type="text" class="form-control" id="editDevice_type">
                </div>
                <div class="form-group">
                    <label for="message-text" class="control-label">使用者:</label>
                    <input type="text" class="form-control" id="editUser">
                </div>
                <div class="form-group">
                    <label for="message-text" class="control-label">应用:</label>
                    <input type="text" class="form-control" id="editProject">
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="btnUpdate" type="button" class="btn btn-primary">确认</button>
            </div>
            </div>
        </div>
    </div> 
    
    <!-- 删除 ip 弹窗 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <h4 class="modal-title" style="color:red;" id="deleteModalLabel">即将永久删除该 ip 信息</h4>
                </div>
                <div class="modal-body">
                        <form role="form">
                        <div class="form-group">
                            <label for="message-text" class="control-label">ip:</label>
                            <input type="text" class="form-control" id="deleteIp" disabled>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">hostnam:</label>
                            <input type="text" class="form-control" id="deleteHostname" disabled>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">设备类型:</label>
                            <input type="text" class="form-control" id="deleteDevice_type" disabled>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">使用者:</label>
                            <input type="text" class="form-control" id="deleteUser" disabled>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">应用:</label>
                            <input type="text" class="form-control" id="deleteProject" disabled>
                        </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="ConfirmDelete()">确认</button>
                </div>
                </div>
            </div>
    </div>

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Hi, {{ current_user.username }}!</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">          
                <li><a href= "{{ url_for('ip_add') }}">新增</a></li>               
            </ul>
        </div>        

        <div>
                <table class="table table-hover">
                    <tr>
                        <td>ip</td>
                        <td>hostnam</td>
                        <td>设备类型</td>
                        <td>使用者</td>
                        <td>应用</td>
                        <td>操作</td>
                    </tr>
                {% for ipinfo in ipinfos %}
                    {% include '_ip.html' %}
                {% endfor %}
                </table>
        </div>

        <div>
                <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous{% if not prev_url %} disabled{% endif %}">
                                <a href="{{ prev_url or '#' }}">
                                    <span aria-hidden="true">&larr;</span> 上一页
                                </a>
                            </li>
                            <li class="next{% if not next_url %} disabled{% endif %}">
                                <a href="{{ next_url or '#' }}">
                                    下一页 <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        </ul>
                </nav>
        </div>

    </div>

{% endblock %}



{% block script_content %}


{% endblock %}
